<div class="dash-mobile">
    <div class="container-mobile-card">
        <div class="card mobile-card  all-service">
            <div class="title ">
                Serviços
            </div>
            <div class="img-dashboard">
                <div class="icon">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50"viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#FFFFFF"stroke="none"><path d="M296 568 c-22 -31 -20 -74 3 -97 14 -14 21 -37 23 -78 3 -55 4 -58 31 -61 27 -3 27 -3 27 53 0 46 5 63 25 87 31 37 31 57 3 94 l-23 29 -5 -35 c-4 -27 -10 -35 -25 -35 -15 0 -21 8 -23 33 -4 38 -15 41 -36 10z" /><path d="M134 307 c-2 -7 -3 -67 -2 -133 l3 -119 33 -3 32 -3 0 135 0 136 -30 0 c-17 0 -33 -6 -36 -13z" /><path d="M243 298 c-22 -10 -23 -17 -23 -119 l0 -108 38 -11 c20 -6 75 -10 122 -8 77 3 85 5 85 23 0 14 -8 21 -27 23 -40 5 -35 22 6 22 34 0 47 13 38 38 -2 6 -17 12 -33 12 -40 0 -37 18 4 22 24 2 33 8 35 26 3 19 -1 22 -27 22 -17 0 -31 5 -31 10 0 6 13 10 29 10 31 0 57 22 46 40 -8 14 -233 12 -262 -2z" /></g></svg>
                </div>
                {{#if services}}
                <div class="service-info">
                    {{services.allServices}}
                </div>
                {{/if}}
            </div>

        </div>

        <!-- fim do card -->

        <div class="card mobile-card open-service">
            <div class="title ">
                Abertos
            </div>
            <div class="img-dashboard">
                <div class="icon">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                        viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#FFFFFF"
                            stroke="none">
                            <path d="M120 520 l0 -440 260 0 c253 0 260 1 260 20 0 19 -7 20 -240 20
l-240 0 0 400 0 400 340 0 340 0 0 -240 c0 -233 1 -240 20 -240 19 0 20 7 20
260 l0 260 -380 0 -380 0 0 -440z" />
                            <path d="M280 760 c0 -19 7 -20 220 -20 213 0 220 1 220 20 0 19 -7 20 -220
20 -213 0 -220 -1 -220 -20z" />
                            <path d="M280 500 c0 -17 7 -20 40 -20 33 0 40 3 40 20 0 17 -7 20 -40 20 -33
0 -40 -3 -40 -20z" />
                            <path d="M420 500 c0 -19 7 -20 150 -20 143 0 150 1 150 20 0 19 -7 20 -150
20 -143 0 -150 -1 -150 -20z" />
                            <path d="M280 380 c0 -17 7 -20 40 -20 33 0 40 3 40 20 0 17 -7 20 -40 20 -33
0 -40 -3 -40 -20z" />
                            <path d="M420 380 c0 -19 7 -20 90 -20 83 0 90 1 90 20 0 19 -7 20 -90 20 -83
0 -90 -1 -90 -20z" />
                            <path d="M645 390 c-8 -14 3 -30 21 -30 10 0 14 -12 14 -45 0 -35 6 -51 31
-80 l31 -35 -31 -35 c-25 -28 -31 -45 -31 -79 0 -36 -4 -45 -21 -49 -12 -3
-19 -12 -17 -19 7 -19 349 -19 356 0 2 7 -5 16 -17 19 -17 4 -21 13 -21 49 0
34 -6 51 -31 79 l-31 35 31 35 c25 28 31 45 31 79 0 36 4 45 21 49 12 3 19 12
17 19 -6 17 -343 25 -353 8z m275 -70 c0 -35 -6 -46 -42 -80 l-43 -40 43 -39
c36 -33 42 -44 42 -80 0 -34 -3 -41 -19 -41 -11 0 -22 8 -25 18 -4 11 -18 29
-31 42 l-25 23 -25 -23 c-13 -13 -27 -31 -31 -42 -3 -10 -14 -18 -25 -18 -15
0 -19 7 -19 39 0 33 7 46 42 80 l43 40 -43 44 c-34 35 -42 50 -42 80 l0 37
100 0 100 0 0 -40z" />
                            <path d="M762 288 c2 -6 16 -21 31 -32 l27 -20 27 20 c46 35 41 44 -27 44 -43
0 -60 -4 -58 -12z" />
                            <path d="M280 260 c0 -17 7 -20 40 -20 33 0 40 3 40 20 0 17 -7 20 -40 20 -33
0 -40 -3 -40 -20z" />
                            <path d="M420 260 c0 -19 6 -20 116 -20 105 0 115 2 112 18 -3 15 -18 17 -116
20 -107 3 -112 2 -112 -18z" />
                        </g>
                    </svg>


                </div>
                {{#if services}}
                <div class="service-info">
                    {{services.openServices}}
                </div>
                {{/if}}
            </div>
        </div>


        <!-- fim do card -->
        <div class="card mobile-card close-service">
            <div class="title">
                Fechados
            </div>
            <div class="img-dashboard">
                <div class="icon">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                        viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#FFFFFF"
                            stroke="none">
                            <path
                                d="M120 320 l0 -240 109 0 108 0 37 -35 c113 -107 291 -5 262 151 -8 38 -75 114 -101 114 -13 0 -15 21 -15 125 l0 125 -200 0 -200 0 0 -240z m360 101 l0 -99 -35 -6 c-69 -13 -125 -85 -125 -161 l0 -35 -80 0 -80 0 0 200 0 200 160 0 160 0 0 -99z m84 -180 c26 -27 31 -39 31 -81 0 -43 -5 -54 -33 -82 -47 -48 -117 -48 -164 0 -28 28 -33 39 -33 81 0 52 25 92 70 112 37 16 96 3 129 -30z" />
                            <path
                                d="M200 420 c0 -19 7 -20 120 -20 113 0 120 1 120 20 0 19 -7 20 -120 20 -113 0 -120 -1 -120 -20z" />
                            <path
                                d="M200 300 c0 -18 7 -20 58 -20 46 0 63 4 77 20 18 20 17 20 -58 20 -70 0 -77 -2 -77 -20z" />
                            <path
                                d="M200 220 c0 -17 7 -20 45 -20 38 0 45 3 45 20 0 17 -7 20 -45 20 -38 0 -45 -3 -45 -20z" />
                            <path
                                d="M505 180 l-29 -30 -23 21 c-19 19 -25 20 -38 9 -14 -12 -12 -18 22 -52 l37 -38 48 47 c36 36 45 50 36 60 -15 19 -21 17 -53 -17z" />
                        </g>
                    </svg>
                </div>
                {{#if services}}
                <div class="service-info">
                    {{services.closeServices}}
                </div>
                {{/if}}
            </div>
        </div>

        <!--card link-->
        <!--Abrir OS -->
        <div class="card mobile-card close-service">
            <a href='/registerClient' class='mobile-link'>
                <div class="title">
                    Abrir OS
                </div>
                <div class="img-dashboard">
                    <div class="icon-mobile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FFFFFF"
                            class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path
                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg>
                    </div>
                </div>
            </a>
        </div>

        <!--Consultar OS -->
        <div class="card mobile-card close-service">
            <a href="/consult" class='mobile-link'>
                <div class="title">
                    Consultar OS
                </div>
                <div class="img-dashboard">
                    <div class="icon-mobile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FFFFFF"
                            class="bi bi-clipboard-data" viewBox="0 0 16 16">
                            <path
                                d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path
                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg>
                    </div>
                </div>
            </a>
        </div>
        <!-- Rastreio -->
        <div class="card mobile-card close-service">
           <a href="https://www2.correios.com.br/sistemas/rastreamento/"rel="noopener noreferrer" target="_blank" class="mobile-link">
                <div class="title">
                    Rastreio
                </div>
                <div class="img-dashboard">
                    <div class="icon-mobile">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                            viewBox="0 0 160.000000 160.000000" preserveAspectRatio="xMidYMid meet" class='icon-style'>
                            <g transform="translate(0.000000,160.000000) scale(0.100000,-0.100000)" fill="#FFFFFF"
                                stroke="none">
                                <path
                                    d="M186 1424 c-70 -22 -149 -103 -170 -174 -34 -113 -11 -206 69 -286 41 -41 65 -56 110 -70 219 -63 414 132 351 351 -14 45 -29 69 -70 110 -80 80 -178 103 -290 69z m168 -36 c86 -26 166 -136 166 -228 0 -124 -116 -240 -240 -240 -124 0 -240 116 -240 240 0 63 23 114 75 165 70 71 145 90 239 63z" />
                                <path d="M264 1349 c 10-17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path
                                    d="M170 1315 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z" />
                                <path
                                    d="M350 1315 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z" />
                                <path
                                    d="M260 1217 c0 -60 2 -65 38 -100 32 -31 41 -35 50 -24 9 11 5 20 -18 42 -27 25 -30 35 -30 87 0 51 -2 58 -20 58 -18 0 -20 -7 -20 -63z" />
                                <path
                                    d="M110 1250 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8 0 -15 -9 -15 -20z" />
                                <path
                                    d="M420 1250 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8 0 -15 -9 -15 -20z" />
                                <path d="M84 1169 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M444 1169 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path
                                    d="M110 1070 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8 0 -15 -9 -15 -20z" />
                                <path
                                    d="M420 1070 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -80 -15 -9 -15 -20z" />
                                <path
                                    d="M170 1005 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z" />
                                <path
                                    d="M350 1005 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z" />
                                <path d="M264 989 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16-11z" />
                                <path
                                    d="M530 1392 c0 -27 30 -32 197 -32 l173 0 0 -368 c0 -273 -3 -371 -12 -380 -9 -9 -9 -15 0 -24 8 -8 12 -49 12 -120 l0 -108 -187 0 -188 0 -25 53 c-68 143 -252 143 -320 0 -21 -45 -29 -53 -52 -53 l-28 0 0 108 c0 66 4 112 11 119 18 18 1 33 -37 33 l-34 0 0 149 c0 133 -2 151 -20 172 l-19 24 -1 -192 0 -193 30 0 30 0 0 -130 0 -130 48 0 c47 0 47 0 72 -53 68 -143 252 -143 320 0 l25 53 235 0 235 0 25 -53 c27 -57 71 -93 126 -103 82 -15 156 24 194 103 l25 53 106 0 c68 0 109 4 117 12 14 14 16 124 2 133 -6 4 -10 63 -10 145 l0 139 -70 183 c-39 100 -78 191 -88 201 -36 41 -72 47 -282 47 l-200 0 0 110 0 110 -205 0 c-113 0 -205 -4 -205 -8z m690 -407 c0 -152 1 -156 25 -180 17 -18 35 -25 64 -25 27 0 44 -6 53 -18 21 -31 53 -42 117 -42 54 0 61 -2 61 -20 0 -16 -7 -20 -35 -20 -25 0 -44 -8 -60 -25 -29 -28 -31 -54 -10 -94 16 -32 33 -41 76 -41 21 0 29 -5 29 -18 0 -10 -5 -23 -11 -29 -13 -13 -4 -33 17 -33 10 0 14 -12 14 -40 l0 -40 -97 0 -98 0 -25 53 c-68 143 -252 143 -320 0 -21 -45 -29 -53 -52 -53 l-28 0 0 390 0 390 140 0 140 0 0 -155z m159 128 c22 -20 46 -71 90 -187 34 -87 61 -160 61 -162 0 -2 -27 -4 -59 -4 -47 0 -63 4 -73 18 -18 26 -51 42 -85 42 -49 0 -53 12 -53 172 l0 148 45 0 c35 0 51 -6 74 -27z m161 -513 c0 -37 -2 -40 -28 -40 -31 0 -52 16 -52 40 0 24 21 40 52 40 26 0 28 -3 28 -40z m-1132 -140 c18 -11 41 -34 52 -52 71 -117 -71 -259 -188 -188 -18 11 -41 34 -52 52 -71 117 71 259 188 188z m840 0 c18 -11 41 -34 52 -52 71 -117 -71 -259 -188 -188 -18 11 -41 34 -52 52 -71 117 71 259 188 188z" />
                                <path
                                    d="M1020 1060 c-18 -18 -20 -33 -20 -130 0 -129 11 -150 80 -150 69 0 80 21 80 150 0 129 -11 150 -80 150 -27 0 -47 -7 -60 -20z m95 -130 l0 -105 -35 0 -35 0 -3 94 c-1 52 0 101 3 108 3 9 17 13 37 11 l33 -3 0 -105z" />
                                <path d="M1364 469 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M1444 469 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path
                                    d="M300 380 c-11 -11 -20 -29 -20 -40 0 -11 9 -29 20 -40 11 -11 29 -20 40 -20 26 0 60 34 60 60 0 11 -9 29 -20 40 -11 11 -29 20 -40 20 -11 0 -29 -9 -40 -20z m56 -31 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z" />
                                <path
                                    d="M1140 380 c-11 -11 -20 -29 -20 -40 0 -26 34 -60 60 -60 26 0 60 34 60 60 0 11 -9 29 -20 40 -11 11 -29 20 -40 20 -11 0 -29 -9 -40 -20z m56 -31 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z" />
                                <path d="M164 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M244 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M324 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M404 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M484 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M564 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M644 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M724 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                                <path d="M804 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z" />
                            </g>
                        </svg>

                    </div>
                </div>
            </a>
        </div>

        
    </div>

    <a href="/logout" class='logout-mobile'> 
             <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="bi bi-cart-plus icon-style" width="25" height="25" viewBox="0 0 256.000000 256.000000" preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
 fill="currentColor" stroke="none">
<path d="M886 2235 c-57 -20 -108 -66 -138 -125 -25 -46 -28 -63 -28 -146 0 -83 2 -94 21 -107 21 -16 54 -12 67 7 4 6 9 52 12 101 4 72 10 97 28 122 45 63 43 63 540 63 l449 0 33 -22 c18 -13 43 -36 54 -51 21 -28 21 -33 21 -797 0 -764 0 -769 -21 -797 -11 -15 -36 -38 -54 -50 l-33 -23 -449 0 c-497 0 -495 0 -540 63 -18 25 -24 50 -28 122 -3 49 -8 95 -12 101 -13 19 -46 23 -67 7 -19 -13 -21 -24 -21 -107 0 -83 3 -100 28 -147 31 -60 93 -113 150 -129 56 -15 923 -14 976 2 25 8 61 32 93 63 87 84 83 47 83 895 0 848 4 811 -83 895 -32 31 -68 55 -93 63 -63 18 -935 16 -988 -3z"/>
<path d="M783 1567 c-150 -150 -273 -279 -273 -287 0 -8 123 -137 273 -287 226 -228 276 -273 297 -271 39 5 49 39 49 177 l0 126 292 3 c195 1 297 6 306 13 19 17 19 461 0 478 -9 7 -111 12 -306 13 l-292 3 0 126 c0 138 -10 172 -49 177 -21 2 -71 -43 -297 -271z"/>
</g>
</svg>
        Logout
        </a>
</div>