<header class="header">

    
       <h3>
           <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="40" height="40" viewBox="0 0 100.000000 100.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M120 500 l0 -460 380 0 380 0 0 460 0 460 -380 0 -380 0 0 -460z
m720 0 l0 -420 -340 0 -340 0 0 420 0 420 340 0 340 0 0 -420z"/>
<path d="M260 760 c0 -19 7 -20 240 -20 233 0 240 1 240 20 0 19 -7 20 -240
20 -233 0 -240 -1 -240 -20z"/>
<path d="M260 480 c0 -17 7 -20 40 -20 33 0 40 3 40 20 0 17 -7 20 -40 20 -33
0 -40 -3 -40 -20z"/>
<path d="M400 480 c0 -19 7 -20 170 -20 163 0 170 1 170 20 0 19 -7 20 -170
20 -163 0 -170 -1 -170 -20z"/>
<path d="M260 360 c0 -17 7 -20 40 -20 33 0 40 3 40 20 0 17 -7 20 -40 20 -33
0 -40 -3 -40 -20z"/>
<path d="M400 360 c0 -19 7 -20 170 -20 163 0 170 1 170 20 0 19 -7 20 -170
20 -163 0 -170 -1 -170 -20z"/>
<path d="M260 240 c0 -17 7 -20 40 -20 33 0 40 3 40 20 0 17 -7 20 -40 20 -33
0 -40 -3 -40 -20z"/>
<path d="M400 240 c0 -19 7 -20 170 -20 163 0 170 1 170 20 0 19 -7 20 -170
20 -163 0 -170 -1 -170 -20z"/>
</g>
</svg>
Dashboard
</h3>
   </header>