<nav class="nav">
        <div class="logo-navbar">
            <img src="/img/info-logo-branca.png" alt="" class="img-logo-nav">
        </div>
        <div class="menu">
            <ul class="main-list">
                <li class="item-list"><img src="/img/ordem_de_serviço.png" alt="" class="img-navbar"> <span
                        class="item">Serviços</span> <img src="/img/seta.png" alt="" class=" img-arrow"
                        onclick="subMenuAppear()">
                    <ul class="sub-list" id="subList">
                        <li class="sub-item" onclick="changeHeader()"><img src="/img/ordem_de_serviço.png" alt=""
                                class="img-navbar"> <a href="/form" class="sub-link">Abrir OS</a>
                        </li>
                        <li class="sub-item"><img src="/img/consultar_os_2.png" alt="" class="img-navbar"> <a 
                        href="/clientes" class="sub-link">Consultar OS</a></li>
                    </ul>
                </li>                
                <li class="item-list"><img src="/img/dollar.png" alt="" class="img-navbar"><a info-web="/vendas" class="link-navbar" target="_blank">Vender</a></li>
                <li class="item-list"><img src="/img/estoque.png" alt="" class="img-navbar"><a info-web="/produto" class="link-navbar" target="_blank">Produtos</a></li>
                <li class="item-list"><img src="/img/mercado_pago-icon.png" alt="" class="img-navbar"><a href="https://www.mercadolivre.com.br/" class="link-navbar" target="_blank">Mercado Livre</a></li>
                <li class="item-list"><img src="/img/encomenda.png" alt="" class="img-navbar"><a href="https://www2.correios.com.br/sistemas/rastreamento/default.cfm" class="link-navbar" target="_blank">Correios/rastreio</a></li>
            </ul>
        </div>
    </nav>