 <div class="nav">
        <nav>
            <div class="img-logo">
                <a href="/dashboard" class="link-nav">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-file-person " viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                </a>
            </div>
        <div class="menu">
        <ul class="list-main-menu">
            <li  id="frist-item" class="item-menu ">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-check icon-style" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>

                <span class="label-item-menu">Serviços</span>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id='arrow-service'>
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
                <!-- sub lista-->
                <ul class="sub-list">
                    <li class="sub-item-list">
                        <a href="/registerClient" class="sub-link-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>  

                            <span class="label-item-menu label-sub-menu" >Abrir OS</span>
                        </a>

                    </li>
                    <!--segundo item-->
                     <li class="sub-item-list">
                        <a href="/consult" class="sub-link-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg> 

                            <span class="label-item-menu label-sub-menu" >Consultar OS</span>
                        </a>

                    </li>
                </ul>
            </li>
            <!--segundo item com sub-menu-->

 <li  id="frist-item" class="item-menu ">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="25" height="25" viewBox="0 0 50.000000 50.000000" fill="currentColor" class="bi bi-cart-plus icon-style"
 preserveAspectRatio="xMidYMid meet" >

<g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M30 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M70 250 c0 -136 2 -160 15 -160 13 0 15 24 15 160 0 136 -2 160 -15
160 -13 0 -15 -24 -15 -160z"/>
<path d="M120 250 l0 -160 40 0 40 0 0 160 0 160 -40 0 -40 0 0 -160z"/>
<path d="M220 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M260 250 c0 -136 2 -160 15 -160 13 0 15 24 15 160 0 136 -2 160 -15
160 -13 0 -15 -24 -15 -160z"/>
<path d="M310 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M350 250 c0 -153 1 -160 20 -160 19 0 20 7 20 160 0 153 -1 160 -20
160 -19 0 -20 -7 -20 -160z"/>
<path d="M410 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M450 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
</g>
</svg>

                <span class="label-item-menu">Produtos</span>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id='arrow-service'>
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
                <!-- sub lista-->
                <ul class="sub-list">
                    <li class="sub-item-list">
                        <a href="/product" class="sub-link-item">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="25" height="25" viewBox="0 0 50.000000 50.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M210 475 c-7 -8 -26 -15 -42 -15 -38 0 -45 -22 -19 -59 24 -33 28 -71 8 -71 -23 0 -86 -71 -103 -116 -32 -84 2 -156 82 -174 21 -5 73 -10 114 -10 41 0 93 5 114 10 116 26 128 165 21 258 -36 32 -32 42 7 21 16 -9 19 -8 16 3 -3 7 -15 19 -29 26 -23 13 -23 13 9 8 17 -3 32 -1 32 4 0 16 -50 23 -77 11 -34 -16 -37 -10 -19 34 24 56 21 69 -13 62 -17 -4 -36 0 -47 8 -25 19 -39 19 -54 0z m51 -21 c7 -9 21 -13 33 -10 19 5 19 5 -1 -15 -18 -18 -23 -19 -41 -8 -17 11 -25 11 -47 -1 -22 -12 -28 -12 -42 3 -16 16 -15 17 14 17 17 0 36 7 43 15 16 19 24 19 41 -1z m-15 -55 c3 -6 16 -9 28 -7 19 4 21 1 18 -24 -5 -30 -30 -43 -73 -36 -33 4 -42 49 -14 65 27 15 33 15 41 2z m139 -130 c45 -48 63 -97 51 -143 -9 -35 -31 -54 -79 -67 -51 -14 -212 -7 -248 11 -51 24 -62 86 -28 157 34 70 70 88 173 88 l88 0 43 -46z"/>
<path d="M213 248 c-26 -37 -20 -54 28 -77 40 -20 47 -36 20 -51 -17 -8 -24 -7 -41 10 -22 22 -30 25 -30 11 0 -17 51 -66 58 -56 4 6 16 15 27 21 34 19 25 56 -19 79 -21 11 -38 23 -37 28 0 4 1 12 1 17 0 14 33 13 48 -2 6 -6 15 -8 19 -4 6 5 -39 56 -49 56 -2 0 -13 -15 -25 -32z"/>
</g>
</svg>

                            <span class="label-item-menu label-sub-menu" >Vender</span>
                        </a>

                    </li>
                    <!--segundo item-->
                     <li class="sub-item-list">
                        <a href="/consultProduct" class="sub-link-item">
                          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="25" height="25" viewBox="0 0 50.000000 50.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M117 490 c-53 -14 -95 -37 -107 -59 -14 -27 -13 -326 1 -353 6 -11 31 -29 56 -40 54 -24 196 -37 207 -19 5 8 -9 11 -48 11 -124 0 -206 36 -206 90 l0 29 45 -20 c53 -24 175 -38 175 -20 0 6 -15 11 -35 11 -55 0 -132 20 -160 41 -18 15 -25 30 -25 54 l0 34 48 -22 c65 -29 205 -31 277 -2 28 10 56 18 63 17 16 -4 17 160 1 190 -26 49 -195 82 -292 58z m182 -21 c57 -12 101 -42 101 -69 0 -75 -262 -107 -349 -42 -97 72 75 148 248 111z m-89 -164 c76 0 104 5 143 22 l47 22 0 -34 c0 -26 -7 -38 -30 -55 -46 -32 -145 -47 -227 -33 -84 15 -117 38 -121 86 l-3 36 48 -22 c39 -17 66 -22 143 -22z"/>
<path d="M367 198 c-5 -18 -8 -19 -21 -8 -21 17 -49 -5 -41 -31 4 -12 1 -21 -9 -25 -21 -8 -21 -44 0 -44 12 0 15 -6 11 -22 -8 -30 10 -49 39 -42 18 5 24 2 24 -10 0 -21 36 -21 44 0 4 10 13 13 25 9 22 -7 44 16 35 39 -4 10 0 18 10 22 23 9 20 41 -5 49 -16 5 -18 9 -8 21 18 22 -13 53 -35 35 -12 -10 -16 -8 -21 8 -8 28 -41 27 -48 -1z m49 -32 c9 -3 21 -3 26 1 6 3 8 1 5 -5 -10 -16 3 -42 21 -42 12 0 11 -4 -6 -20 -12 -12 -19 -27 -15 -36 4 -10 1 -15 -8 -14 -28 4 -39 0 -39 -17 0 -14 -3 -13 -20 5 -13 13 -26 19 -37 15 -12 -5 -15 -2 -10 10 4 11 -2 24 -15 37 -18 17 -19 20 -5 20 17 0 21 11 17 39 -1 9 4 12 15 8 9 -4 22 2 33 14 13 15 18 17 20 5 2 -8 10 -17 18 -20z"/>
<path d="M360 135 c-26 -32 13 -81 48 -59 22 14 27 41 12 59 -16 19 -44 19 -60 0z m46 -16 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z"/>
</g>
</svg>

                            <span class="label-item-menu label-sub-menu" >Estoque</span>
                        </a>

                    </li>
                </ul>
            </li>
            <!-- continuação dos itens do menu-->
             <li class="item-menu">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="30" height="30" viewBox="0 0 160.000000 160.000000"
 preserveAspectRatio="xMidYMid meet" class='icon-style'>

<g transform="translate(0.000000,160.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M186 1424 c-70 -22 -149 -103 -170 -174 -34 -113 -11 -206 69 -286
41 -41 65 -56 110 -70 219 -63 414 132 351 351 -14 45 -29 69 -70 110 -80 80
-178 103 -290 69z m168 -36 c86 -26 166 -136 166 -228 0 -124 -116 -240 -240
-240 -124 0 -240 116 -240 240 0 63 23 114 75 165 70 71 145 90 239 63z"/>
<path d="M264 1349 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M170 1315 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11
0 -20 -7 -20 -15z"/>
<path d="M350 1315 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11
0 -20 -7 -20 -15z"/>
<path d="M260 1217 c0 -60 2 -65 38 -100 32 -31 41 -35 50 -24 9 11 5 20 -18
42 -27 25 -30 35 -30 87 0 51 -2 58 -20 58 -18 0 -20 -7 -20 -63z"/>
<path d="M110 1250 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8
0 -15 -9 -15 -20z"/>
<path d="M420 1250 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8
0 -15 -9 -15 -20z"/>
<path d="M84 1169 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M444 1169 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M110 1070 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8
0 -15 -9 -15 -20z"/>
<path d="M420 1070 c0 -11 7 -20 15 -20 8 0 15 9 15 20 0 11 -7 20 -15 20 -8
0 -15 -9 -15 -20z"/>
<path d="M170 1005 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11
0 -20 -7 -20 -15z"/>
<path d="M350 1005 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11
0 -20 -7 -20 -15z"/>
<path d="M264 989 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M530 1392 c0 -27 30 -32 197 -32 l173 0 0 -368 c0 -273 -3 -371 -12
-380 -9 -9 -9 -15 0 -24 8 -8 12 -49 12 -120 l0 -108 -187 0 -188 0 -25 53
c-68 143 -252 143 -320 0 -21 -45 -29 -53 -52 -53 l-28 0 0 108 c0 66 4 112
11 119 18 18 1 33 -37 33 l-34 0 0 149 c0 133 -2 151 -20 172 l-19 24 -1 -192
0 -193 30 0 30 0 0 -130 0 -130 48 0 c47 0 47 0 72 -53 68 -143 252 -143 320
0 l25 53 235 0 235 0 25 -53 c27 -57 71 -93 126 -103 82 -15 156 24 194 103
l25 53 106 0 c68 0 109 4 117 12 14 14 16 124 2 133 -6 4 -10 63 -10 145 l0
139 -70 183 c-39 100 -78 191 -88 201 -36 41 -72 47 -282 47 l-200 0 0 110 0
110 -205 0 c-113 0 -205 -4 -205 -8z m690 -407 c0 -152 1 -156 25 -180 17 -18
35 -25 64 -25 27 0 44 -6 53 -18 21 -31 53 -42 117 -42 54 0 61 -2 61 -20 0
-16 -7 -20 -35 -20 -25 0 -44 -8 -60 -25 -29 -28 -31 -54 -10 -94 16 -32 33
-41 76 -41 21 0 29 -5 29 -18 0 -10 -5 -23 -11 -29 -13 -13 -4 -33 17 -33 10
0 14 -12 14 -40 l0 -40 -97 0 -98 0 -25 53 c-68 143 -252 143 -320 0 -21 -45
-29 -53 -52 -53 l-28 0 0 390 0 390 140 0 140 0 0 -155z m159 128 c22 -20 46
-71 90 -187 34 -87 61 -160 61 -162 0 -2 -27 -4 -59 -4 -47 0 -63 4 -73 18
-18 26 -51 42 -85 42 -49 0 -53 12 -53 172 l0 148 45 0 c35 0 51 -6 74 -27z
m161 -513 c0 -37 -2 -40 -28 -40 -31 0 -52 16 -52 40 0 24 21 40 52 40 26 0
28 -3 28 -40z m-1132 -140 c18 -11 41 -34 52 -52 71 -117 -71 -259 -188 -188
-18 11 -41 34 -52 52 -71 117 71 259 188 188z m840 0 c18 -11 41 -34 52 -52
71 -117 -71 -259 -188 -188 -18 11 -41 34 -52 52 -71 117 71 259 188 188z"/>
<path d="M1020 1060 c-18 -18 -20 -33 -20 -130 0 -129 11 -150 80 -150 69 0
80 21 80 150 0 129 -11 150 -80 150 -27 0 -47 -7 -60 -20z m95 -130 l0 -105
-35 0 -35 0 -3 94 c-1 52 0 101 3 108 3 9 17 13 37 11 l33 -3 0 -105z"/>
<path d="M1364 469 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M1444 469 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M300 380 c-11 -11 -20 -29 -20 -40 0 -11 9 -29 20 -40 11 -11 29 -20
40 -20 26 0 60 34 60 60 0 11 -9 29 -20 40 -11 11 -29 20 -40 20 -11 0 -29 -9
-40 -20z m56 -31 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16
-11z"/>
<path d="M1140 380 c-11 -11 -20 -29 -20 -40 0 -26 34 -60 60 -60 26 0 60 34
60 60 0 11 -9 29 -20 40 -11 11 -29 20 -40 20 -11 0 -29 -9 -40 -20z m56 -31
c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z"/>
<path d="M164 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M244 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M324 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M404 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M484 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M564 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M644 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M724 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
<path d="M804 609 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16
-11z"/>
</g>
</svg>

                <a href="https://www2.correios.com.br/sistemas/rastreamento/"rel="noopener noreferrer" target="_blank" class="link-item">
                <span class="label-item-menu">Rasteio</span>
                </a>
             </li>

              <li class="item-menu">
                <svg xmlns="http://www.w3.org/2000/svg"   class='icon-style' viewBox="0 0 48 48" width="30" height="30"><ellipse cx="23.5" cy="23.5" fill="currentColor" rx="21.5" ry="15.5"/><path fill="currentColor" d="M22.471,24.946c-1.978-5.537-4.884-10.881-6.085-12.995c-0.352-0.619-0.787-1.186-1.29-1.69 l-2.553-2.553c-0.391-0.391-1.414,0-1.414,0L9.497,8.734l-0.162,2.319L8.773,11c-0.518,0-0.938,0.42-0.938,0.938 c0,0.52,0.413,0.969,0.933,0.961c1.908-0.03,3.567,1.601,3.567,1.601h2c0.32,0.32,1.139,1.366,1.328,2.439 c0.107,0.611,0.154,1.229,0.119,1.848C15.458,24.622,16.835,26,16.835,26c-5.5-3.5-14.819-2.964-14.819-2.964l0.193,3.016L5,31 c0.919,0.212,0.744-0.626,1.765-0.504c6.199,0.741,13.57,0.004,13.57,0.004c1.5,0,1.958-0.793,2.665-1.5 C24,28,22.849,26.004,22.471,24.946z"/><path fill="currentColor" d="M24.913,24.946c1.978-5.537,4.884-10.881,6.085-12.995c0.352-0.619,0.787-1.186,1.29-1.69 l2.553-2.553c0.391-0.391,1.414,0,1.414,0L37.814,9l0.235,2.053L38.611,11c0.518,0,0.938,0.42,0.938,0.938 c0,0.52-0.413,0.969-0.933,0.961c-1.908-0.03-3.567,1.601-3.567,1.601h-2c-0.32,0.32-1.139,1.366-1.328,2.439 c-0.107,0.611-0.154,1.229-0.119,1.848C31.926,24.622,30.549,26,30.549,26c5.5-3.5,15-3,15-3l-0.165,3l-3,5 c-0.919,0.212-0.744-0.626-1.765-0.504c-6.199,0.741-13.57,0.004-13.57,0.004c-1.5,0-1.958-0.793-2.665-1.5 C23.384,28,24.535,26.004,24.913,24.946z"/><path fill="#1a237e" d="M43.832,16.326c-0.311-0.415-0.644-0.808-0.992-1.187c-0.059-0.064-0.123-0.123-0.183-0.186 c-0.309-0.326-0.628-0.639-0.96-0.938c-0.026-0.023-0.053-0.045-0.079-0.068c-0.587-0.522-1.201-1.012-1.845-1.454 c0.071-0.175,0.11-0.364,0.11-0.555c0-0.792-0.643-1.437-1.481-1.437c-0.001,0-0.003,0-0.004,0l-0.015,0.002V9.32 c0-0.534-0.288-1.032-0.75-1.299L36.269,7.24c-0.221-0.085-1.356-0.478-1.946,0.113l-1.837,1.838 c-0.381-0.106-0.89-0.25-1.211-0.326C28.893,8.288,26.446,8.014,24,8c-3.031-0.004-6.095,0.39-9.018,1.275l-1.921-1.921 c-0.59-0.59-1.725-0.199-2.018-0.079L9.75,8.021C9.288,8.288,9,8.786,9,9.32v1.186L8.938,10.5c-0.793,0-1.438,0.646-1.438,1.438 c0,0.311,0.103,0.614,0.283,0.865c-0.978,0.715-1.903,1.512-2.722,2.422c-0.315,0.35-0.616,0.715-0.9,1.096 C2.638,18.346,2.061,20.87,2,23.5c-0.035,2.628,0.455,5.223,1.932,7.343c1.478,2.132,3.451,3.854,5.624,5.163 c4.378,2.609,9.436,3.749,14.444,3.846c2.511-0.026,5.023-0.319,7.471-0.924c2.442-0.624,4.81-1.582,6.986-2.9 c2.163-1.328,4.143-3.041,5.617-5.18c1.476-2.122,1.932-4.719,1.894-7.347C45.905,20.87,45.357,18.348,43.832,16.326z M40.793,15.139c0.229,0.225,0.448,0.459,0.662,0.697c0.096,0.107,0.195,0.211,0.288,0.32c0.293,0.347,0.573,0.703,0.828,1.076 c1.088,1.579,1.785,3.39,1.957,5.242c-2.274-0.031-8.444,0.114-13.042,2.342c0.335-1.133,0.619-3.016,0.449-6.058 c-0.03-0.552,0.008-1.135,0.113-1.733c0.139-0.79,0.702-1.618,1.054-2.026h0.727c0.731,0,1.432-0.224,2.025-0.647 c0.624-0.444,1.559-0.981,2.588-0.954c0.072,0,0.139-0.03,0.21-0.04c0.267,0.192,0.536,0.383,0.792,0.587 c0.076,0.061,0.15,0.124,0.225,0.186c0.273,0.224,0.538,0.457,0.795,0.696C40.576,14.93,40.686,15.034,40.793,15.139z M24,9 c2.369,0.026,4.734,0.303,7.027,0.87c0.208,0.053,0.412,0.118,0.617,0.181c-0.482,0.503-0.906,1.054-1.246,1.652 c-1.175,2.068-4.124,7.483-6.121,13.075c-0.075,0.208-0.163,0.43-0.255,0.66c-0.112,0.281-0.226,0.572-0.331,0.868 c-0.104-0.296-0.219-0.588-0.331-0.868c-0.092-0.23-0.18-0.452-0.255-0.66c-2-5.599-4.947-11.009-6.121-13.075 c-0.297-0.523-0.667-1.004-1.074-1.456C18.522,9.461,21.264,9.054,24,9z M5.435,17.238c0.251-0.364,0.524-0.713,0.811-1.052 c0.094-0.112,0.196-0.218,0.294-0.327c0.202-0.225,0.408-0.448,0.625-0.662c0.115-0.114,0.233-0.224,0.351-0.335 c0.229-0.213,0.463-0.421,0.704-0.622c0.099-0.083,0.198-0.166,0.299-0.247c0.243-0.193,0.495-0.376,0.748-0.558 c0.886,0.089,1.707,0.522,2.262,0.918C12.123,14.776,12.823,15,13.555,15h0.727c0.352,0.407,0.915,1.235,1.054,2.026 c0.105,0.597,0.143,1.18,0.113,1.733c-0.17,3.042,0.114,4.927,0.449,6.059c-4.193-2.029-9.734-2.333-12.425-2.344 C3.648,20.623,4.346,18.814,5.435,17.238z M6.236,30.271c-0.192-0.224-0.396-0.437-0.572-0.673 C4.329,27.826,3.49,25.705,3.426,23.5c0-0.008,0.001-0.017,0.001-0.025c2.878,0.006,9.226,0.351,13.305,2.947 c0.211,0.134,0.484,0.088,0.646-0.104c0.162-0.19,0.153-0.477-0.014-0.662c-0.012-0.014-1.218-1.422-0.916-6.842 c0.035-0.63-0.007-1.29-0.126-1.962c-0.218-1.235-1.133-2.372-1.467-2.706C14.76,14.053,14.632,14,14.5,14h-0.945 c-0.522,0-1.021-0.159-1.445-0.462c-0.745-0.531-1.925-1.147-3.185-1.14c-0.131,0.004-0.226-0.063-0.281-0.117 C8.552,12.192,8.5,12.067,8.5,11.938c0-0.242,0.196-0.438,0.391-0.44l0.562,0.054c0.111,0.007,0.216-0.027,0.308-0.084l0.386,0.386 C10.242,11.949,10.37,12,10.5,12c0.053,0,0.106-0.009,0.158-0.025l1.207-0.402l1.281,1.281C13.244,12.951,13.372,13,13.5,13 s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L12.707,11l0.146-0.146C12.951,10.756,13,10.628,13,10.5 s-0.049-0.256-0.146-0.354l-1-1c-0.195-0.195-0.512-0.195-0.707,0C11.049,9.244,11,9.372,11,9.5s0.049,0.256,0.146,0.354 l0.646,0.646l-0.063,0.063l-1.095,0.365L10,10.293V9.32c0-0.178,0.096-0.344,0.25-0.434l1.22-0.712 c0.365-0.139,0.792-0.179,0.883-0.114l2.554,2.554c0.475,0.475,0.882,1.007,1.209,1.583c1.161,2.043,4.076,7.393,6.049,12.917 c0.078,0.219,0.171,0.452,0.267,0.694c0.347,0.871,0.741,1.858,0.58,2.583C22.808,29.309,21.728,30,20.49,30 c-0.07,0.002-7.123,0.139-13.425,0.011C6.798,30.002,6.509,30.114,6.236,30.271z M37.217,33.918 c-1.98,1.119-4.156,1.898-6.385,2.419c-2.228,0.539-4.528,0.798-6.832,0.812c-4.592,0.01-9.259-0.951-13.23-3.208 c-1.401-0.799-2.709-1.764-3.832-2.891c0.036-0.014,0.083-0.038,0.107-0.039C13.367,31.138,20.439,31.001,20.5,31 c1.396,0,2.616-0.673,3.192-1.67c0.575,0.997,1.794,1.67,3.182,1.67c0.071,0.002,7.146,0.139,13.462,0.011 c0.089,0.003,0.272,0.102,0.483,0.249C39.748,32.289,38.531,33.185,37.217,33.918z M42.329,29.593 c-0.247,0.329-0.526,0.635-0.803,0.941c-0.37-0.273-0.81-0.524-1.192-0.524c-0.005,0-0.011,0-0.017,0 c-6.3,0.125-13.354-0.01-13.434-0.011c-1.228,0-2.308-0.691-2.512-1.608c-0.161-0.725,0.232-1.712,0.58-2.583 c0.096-0.242,0.189-0.476,0.267-0.694c1.971-5.518,4.887-10.871,6.049-12.917c0.327-0.576,0.734-1.108,1.209-1.583l2.55-2.551 C35.122,8,35.548,8.037,35.841,8.14l1.293,0.747c0.154,0.09,0.25,0.256,0.25,0.434v0.973l-0.635,0.635l-1.095-0.365L35.591,10.5 l0.646-0.646c0.098-0.098,0.146-0.226,0.146-0.354s-0.049-0.256-0.146-0.354c-0.195-0.195-0.512-0.195-0.707,0l-1,1 c-0.098,0.098-0.146,0.226-0.146,0.354s0.049,0.256,0.146,0.354L34.677,11l-1.146,1.146c-0.195,0.195-0.195,0.512,0,0.707 C33.628,12.951,33.756,13,33.884,13s0.256-0.049,0.354-0.146l1.281-1.281l1.207,0.402C36.777,11.991,36.831,12,36.884,12 c0.13,0,0.258-0.051,0.354-0.146l0.386-0.386c0.092,0.057,0.197,0.092,0.308,0.084l0.515-0.052c0.242,0,0.438,0.196,0.438,0.438 c0,0.129-0.052,0.254-0.143,0.343c-0.056,0.055-0.157,0.109-0.282,0.117c-1.279,0.011-2.439,0.608-3.185,1.14 C34.851,13.841,34.352,14,33.83,14h-0.946c-0.133,0-0.26,0.053-0.354,0.146c-0.334,0.334-1.25,1.473-1.467,2.706 c-0.118,0.674-0.161,1.334-0.126,1.963c0.302,5.419-0.904,6.827-0.907,6.831c-0.18,0.181-0.196,0.468-0.037,0.666 c0.159,0.199,0.442,0.246,0.659,0.109c4.408-2.805,11.576-2.969,13.922-2.942c0,0.007,0.001,0.013,0.001,0.02 C44.507,25.705,43.666,27.824,42.329,29.593z"/></svg>
                <a href="https://www.mercadolivre.com.br/"rel="noopener noreferrer" target="_blank" class="link-item">
                <span class="label-item-menu">Mercado Livre</span>
                </a>
             </li>
    <!-- menu produtos -->
    <!-- Exit -->
    <li class="item-menu">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="bi bi-cart-plus icon-style" width="25" height="25" viewBox="0 0 256.000000 256.000000" preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
 fill="currentColor" stroke="none">
<path d="M886 2235 c-57 -20 -108 -66 -138 -125 -25 -46 -28 -63 -28 -146 0 -83 2 -94 21 -107 21 -16 54 -12 67 7 4 6 9 52 12 101 4 72 10 97 28 122 45 63 43 63 540 63 l449 0 33 -22 c18 -13 43 -36 54 -51 21 -28 21 -33 21 -797 0 -764 0 -769 -21 -797 -11 -15 -36 -38 -54 -50 l-33 -23 -449 0 c-497 0 -495 0 -540 63 -18 25 -24 50 -28 122 -3 49 -8 95 -12 101 -13 19 -46 23 -67 7 -19 -13 -21 -24 -21 -107 0 -83 3 -100 28 -147 31 -60 93 -113 150 -129 56 -15 923 -14 976 2 25 8 61 32 93 63 87 84 83 47 83 895 0 848 4 811 -83 895 -32 31 -68 55 -93 63 -63 18 -935 16 -988 -3z"/>
<path d="M783 1567 c-150 -150 -273 -279 -273 -287 0 -8 123 -137 273 -287 226 -228 276 -273 297 -271 39 5 49 39 49 177 l0 126 292 3 c195 1 297 6 306 13 19 17 19 461 0 478 -9 7 -111 12 -306 13 l-292 3 0 126 c0 138 -10 172 -49 177 -21 2 -71 -43 -297 -271z"/>
</g>
</svg>

                <a href="/logout" class="link-item">
                <span class="label-item-menu">Logout</span>
                </a>
             </li>
            
        </ul>
        </div>
        </nav>
    </div>