 <div class="nav">
        <nav>
            <div class="img-logo">
                <a href="/dashboard" class="link-nav">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-file-person " viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                </a>
            </div>
        <div class="menu">
        <ul class="list-main-menu">
            <li  id="frist-item" class="item-menu ">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-check icon-style" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>

                <span class="label-item-menu">Serviços</span>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id='arrow-service'>
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
                <!-- sub lista-->
                <ul class="sub-list">
                    <li class="sub-item-list">
                        <a href="/registerClient" class="sub-link-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>  

                            <span class="label-item-menu label-sub-menu" >Abrir OS</span>
                        </a>

                    </li>
                    <!--segundo item-->
                     <li class="sub-item-list">
                        <a href="/consult" class="sub-link-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg> 

                            <span class="label-item-menu label-sub-menu" >Consultar OS</span>
                        </a>

                    </li>
                </ul>
            </li>
            <!--segundo item com sub-menu-->

 <li  id="frist-item" class="item-menu ">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="25" height="25" viewBox="0 0 50.000000 50.000000" fill="currentColor" class="bi bi-cart-plus icon-style"
 preserveAspectRatio="xMidYMid meet" >

<g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M30 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M70 250 c0 -136 2 -160 15 -160 13 0 15 24 15 160 0 136 -2 160 -15
160 -13 0 -15 -24 -15 -160z"/>
<path d="M120 250 l0 -160 40 0 40 0 0 160 0 160 -40 0 -40 0 0 -160z"/>
<path d="M220 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M260 250 c0 -136 2 -160 15 -160 13 0 15 24 15 160 0 136 -2 160 -15
160 -13 0 -15 -24 -15 -160z"/>
<path d="M310 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M350 250 c0 -153 1 -160 20 -160 19 0 20 7 20 160 0 153 -1 160 -20
160 -19 0 -20 -7 -20 -160z"/>
<path d="M410 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
<path d="M450 250 c0 -100 4 -160 10 -160 6 0 10 60 10 160 0 100 -4 160 -10
160 -6 0 -10 -60 -10 -160z"/>
</g>
</svg>

                <span class="label-item-menu">Produtos</span>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id='arrow-service'>
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
                <!-- sub lista-->
                <ul class="sub-list">
                    <li class="sub-item-list">
                        <a href="/product" class="sub-link-item">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="25" height="25" viewBox="0 0 50.000000 50.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M210 475 c-7 -8 -26 -15 -42 -15 -38 0 -45 -22 -19 -59 24 -33 28 -71 8 -71 -23 0 -86 -71 -103 -116 -32 -84 2 -156 82 -174 21 -5 73 -10 114 -10 41 0 93 5 114 10 116 26 128 165 21 258 -36 32 -32 42 7 21 16 -9 19 -8 16 3 -3 7 -15 19 -29 26 -23 13 -23 13 9 8 17 -3 32 -1 32 4 0 16 -50 23 -77 11 -34 -16 -37 -10 -19 34 24 56 21 69 -13 62 -17 -4 -36 0 -47 8 -25 19 -39 19 -54 0z m51 -21 c7 -9 21 -13 33 -10 19 5 19 5 -1 -15 -18 -18 -23 -19 -41 -8 -17 11 -25 11 -47 -1 -22 -12 -28 -12 -42 3 -16 16 -15 17 14 17 17 0 36 7 43 15 16 19 24 19 41 -1z m-15 -55 c3 -6 16 -9 28 -7 19 4 21 1 18 -24 -5 -30 -30 -43 -73 -36 -33 4 -42 49 -14 65 27 15 33 15 41 2z m139 -130 c45 -48 63 -97 51 -143 -9 -35 -31 -54 -79 -67 -51 -14 -212 -7 -248 11 -51 24 -62 86 -28 157 34 70 70 88 173 88 l88 0 43 -46z"/>
<path d="M213 248 c-26 -37 -20 -54 28 -77 40 -20 47 -36 20 -51 -17 -8 -24 -7 -41 10 -22 22 -30 25 -30 11 0 -17 51 -66 58 -56 4 6 16 15 27 21 34 19 25 56 -19 79 -21 11 -38 23 -37 28 0 4 1 12 1 17 0 14 33 13 48 -2 6 -6 15 -8 19 -4 6 5 -39 56 -49 56 -2 0 -13 -15 -25 -32z"/>
</g>
</svg>

                            <span class="label-item-menu label-sub-menu" >Vender</span>
                        </a>

                    </li>
                    <!--segundo item-->
                     <li class="sub-item-list">
                        <a href="/consultProduct" class="sub-link-item">
                          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="25" height="25" viewBox="0 0 50.000000 50.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M117 490 c-53 -14 -95 -37 -107 -59 -14 -27 -13 -326 1 -353 6 -11 31 -29 56 -40 54 -24 196 -37 207 -19 5 8 -9 11 -48 11 -124 0 -206 36 -206 90 l0 29 45 -20 c53 -24 175 -38 175 -20 0 6 -15 11 -35 11 -55 0 -132 20 -160 41 -18 15 -25 30 -25 54 l0 34 48 -22 c65 -29 205 -31 277 -2 28 10 56 18 63 17 16 -4 17 160 1 190 -26 49 -195 82 -292 58z m182 -21 c57 -12 101 -42 101 -69 0 -75 -262 -107 -349 -42 -97 72 75 148 248 111z m-89 -164 c76 0 104 5 143 22 l47 22 0 -34 c0 -26 -7 -38 -30 -55 -46 -32 -145 -47 -227 -33 -84 15 -117 38 -121 86 l-3 36 48 -22 c39 -17 66 -22 143 -22z"/>
<path d="M367 198 c-5 -18 -8 -19 -21 -8 -21 17 -49 -5 -41 -31 4 -12 1 -21 -9 -25 -21 -8 -21 -44 0 -44 12 0 15 -6 11 -22 -8 -30 10 -49 39 -42 18 5 24 2 24 -10 0 -21 36 -21 44 0 4 10 13 13 25 9 22 -7 44 16 35 39 -4 10 0 18 10 22 23 9 20 41 -5 49 -16 5 -18 9 -8 21 18 22 -13 53 -35 35 -12 -10 -16 -8 -21 8 -8 28 -41 27 -48 -1z m49 -32 c9 -3 21 -3 26 1 6 3 8 1 5 -5 -10 -16 3 -42 21 -42 12 0 11 -4 -6 -20 -12 -12 -19 -27 -15 -36 4 -10 1 -15 -8 -14 -28 4 -39 0 -39 -17 0 -14 -3 -13 -20 5 -13 13 -26 19 -37 15 -12 -5 -15 -2 -10 10 4 11 -2 24 -15 37 -18 17 -19 20 -5 20 17 0 21 11 17 39 -1 9 4 12 15 8 9 -4 22 2 33 14 13 15 18 17 20 5 2 -8 10 -17 18 -20z"/>
<path d="M360 135 c-26 -32 13 -81 48 -59 22 14 27 41 12 59 -16 19 -44 19 -60 0z m46 -16 c10 -17 -13 -36 -27 -22 -12 12 -4 33 11 33 5 0 12 -5 16 -11z"/>
</g>
</svg>

                            <span class="label-item-menu label-sub-menu" >Estoque</span>
                        </a>

                    </li>
                </ul>
            </li>
            <!-- continuação dos itens do menu-->
             <li class="item-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gift icon-style" viewBox="0 0 16 16">
                    <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"/>
                </svg>

                <a href="https://www2.correios.com.br/sistemas/rastreamento/"rel="noopener noreferrer" target="_blank" class="link-item">
                <span class="label-item-menu">Rasteio</span>
                </a>
             </li>

              <li class="item-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-plus icon-style" viewBox="0 0 16 16">
                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <a href="https://www.mercadolivre.com.br/"rel="noopener noreferrer" target="_blank" class="link-item">
                <span class="label-item-menu">Mercado Livre</span>
                </a>
             </li>
    <!-- menu produtos -->
    <!-- Exit -->
    <li class="item-menu">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="bi bi-cart-plus icon-style" width="25" height="25" viewBox="0 0 256.000000 256.000000" preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
 fill="currentColor" stroke="none">
<path d="M886 2235 c-57 -20 -108 -66 -138 -125 -25 -46 -28 -63 -28 -146 0 -83 2 -94 21 -107 21 -16 54 -12 67 7 4 6 9 52 12 101 4 72 10 97 28 122 45 63 43 63 540 63 l449 0 33 -22 c18 -13 43 -36 54 -51 21 -28 21 -33 21 -797 0 -764 0 -769 -21 -797 -11 -15 -36 -38 -54 -50 l-33 -23 -449 0 c-497 0 -495 0 -540 63 -18 25 -24 50 -28 122 -3 49 -8 95 -12 101 -13 19 -46 23 -67 7 -19 -13 -21 -24 -21 -107 0 -83 3 -100 28 -147 31 -60 93 -113 150 -129 56 -15 923 -14 976 2 25 8 61 32 93 63 87 84 83 47 83 895 0 848 4 811 -83 895 -32 31 -68 55 -93 63 -63 18 -935 16 -988 -3z"/>
<path d="M783 1567 c-150 -150 -273 -279 -273 -287 0 -8 123 -137 273 -287 226 -228 276 -273 297 -271 39 5 49 39 49 177 l0 126 292 3 c195 1 297 6 306 13 19 17 19 461 0 478 -9 7 -111 12 -306 13 l-292 3 0 126 c0 138 -10 172 -49 177 -21 2 -71 -43 -297 -271z"/>
</g>
</svg>

                <a href="/logout" class="link-item">
                <span class="label-item-menu">Logout</span>
                </a>
             </li>
            
        </ul>
        </div>
        </nav>
    </div>