<div class="container1">
    <!--inicio Header-->
    <header class="header">
        <h1 id="headerLabel">Dashboard</h1>
    </header>
    <!--fim Header-->

    <!--Inicio navegação-->
    
    <!--fim navegação-->

    <main class="main" onclick="subMenuHide()" id="main">
        
    </main>
    <footer class="footer">Desenvolvido por Rodrigo Ribeiro</footer>
</div>