
<div class="dashboard">
   {{>_nav}}
   <header class="header">
       <h3>Ordem de Serviço</h3>
   </header>
    <main class="main">
        <form action="/registerClient" method="POST" class="form-register-client">
            <div class="img-form">
                <img src="./img/logo_main.png" alt="" class="logo-form">
            </div>
            <!-- informações pessoais -->
            <div class="date-hour formation">
                
                <div class="date">
                    <p>Data: </p>
                    <input type="date" name="date" id="date" class="input-date-hour" required>
                </div>
                    
                <div class="time">
                    <p>Hora: </p>
                    <input type="time" name="hour" id="hour"  class="input-date-hour">
                </div>

                
            </div>

            <div class="client-information formation">
                
                <div class="name-tel">
                    <p class="label">Nome*</p>
                    <input type="text" name="name" id="name"  class="input-form" pattern="[A-Za-z]{}" required title="Apenas letrass">
                    <div id="errorName"></div>
                    <p class="label">Telefone*</p>
                    <input type="tel" name="tel" id="tel"  class="input-form" pattern="[0-9]{11}"required >
                </div>

                <div class="client">
                    <p class="label">Endereço</p>
                    <input type="text" name="address" id="addres" pattern="[A-Za-z]{}" class="input-form">
                    <p class="label" >Documento</p>
                    <input type="text" name="document" id="document" class="input-form" pattern="[0-9]{15}">
                </div>
            </div>

            <div class="equipment formation">
                <div class="equipment-infomartion">
                <p>Equipamento</p>
                <input type="radio" name="equipment" value="notebook"><span class="label-equipment">Notebook</span>
                <input type="radio" name="equipment" value="desktop"><span class="label-equipment">Desktop</span>
                </div>
            </div>
            
            <div class="equipment formation">
                <p>Marca</p>
                <select name="brand" id="brand" class="select">
                    <option value=""></option>
                    <option value="dell">Dell</option>
                    <option value="samsung">Samsung</option>
                    <option value="positivo">Positivo</option>
                    <option value="acer">Acer</option>
                    <option value="lenovo">Lenovo</option>
                    <option value="asus">Asus</option>
                    <option value="multilaser">Multilaser</option>
                    <option value="sony vaio">Sony Vaio</option>
                    <option value="HP">HP</option>
                    <option value="LG">LG</option>
                    <option value="avell">Avell</option>
                    <option value="megaware">MegaWare</option>
                </select>
            </div>
            <div class="equipment formation">
                <p>Defeito relatado</p>
                <textarea name="defect" cols="40" rows="4" id='textarea'></textarea>
            </div>

             <div class="equipment formation">
                <p>Serviço</p>
                <input type="text" name="service" class="input-form  service">
            </div>
            <div class="btn-form">
                <button type="reset" class="btn" id="btnReset">
                    Cancelar
                </button>
                <button type="submit" class="btn" id="btnConfirm" onclick="">
                   Cadastrar
                </button>
            </div>
        </form>
    </main>
</div>