<div class="container1">
    <!--inicio Header-->
    <header class="header">
        <h1 id="headerLabel">Cadastro de clientes</h1>
    </header>
    <!--fim Header-->

    <!--Inicio navegação-->
    
    <!--fim navegação-->

    <main class="main" onclick="subMenuHide()" id="main">
        
        <div class="container-form" id="result">

    <form action="/cadcliente" method="post" class="form">

        <div class="form-header">
            <img src="../img/logo-form.png" alt="" class="form-img">
            <h6>Avenida Getúlio Vargas N°41 loja 01</h6>
            <h6>Arrial do cabo, RJ</h6>
            <h6>Tel:(22) 9-9224-8228 </h6>
        </div>



        <div class="form-personal-information form-formatacao">
            <p class="form-PI ">Data: <input type="date" name="date" id="DateAndHour" class="form-input" required></p>
            <p>Dados Pessoais</p>
            <span class="form-PI">Cliente:</span>
            <input type="text" name="nome" id="nome" class="form-input"  oninput=""  required>
            <span class="form-PI">Telefone:</span>
            <input type="text" name="tel" id="telephone" class="form-input"  required>
        </div>

        <div class="form-equipament form-formatacao">
            <p>Equipamento</p>
            <input type="radio" name="equipamento" id="Notebook" value="notebook" class="form-input-radio"
                required><span class="form-equipament-span">Notebook</span>
            <input type="radio" name="equipamento" id="desktop" value="desktop" class="form-input-radio" required><span
                class="form-equipament-span">Desktop</span>
        </div>

        <div class="form-equipment-feature form-formatacao">
            <p>Característica</p>
            <p><span>Marca:</span> <input type="text" name="marca" id="marca" class="form-input" required></p>
            <span>Processador: </span>
            <input type="radio" name="CPU" id="CPU" value="intel" class="form-input-radio" required><span
                class="form-equipament-span">Intel</span>
            <input type="radio" name="CPU" id="CPU" value="AMD" class="form-input-radio" required><span>AMD</span>

            <br>
            <span>Memória: </span>
            <input type="radio" name="memoria" id="RAM" value="2GB" class="form-input-radio"><span
                class="form-equipament-span">2GB</span>
            <input type="radio" name="memoria" id="RAM" value="4GB" class="form-input-radio"><span
                class="form-equipament-span">4GB</span>
            <input type="radio" name="memoria" id="RAM" value="8GB" class="form-input-radio"><span
                class="form-equipament-span">8GB</span>
            <input type="radio" name="memoria" id="RAM" value="16GB" class="form-input-radio"><span
                class="form-equipament-span">16GB</span>
            <select name="quantidade" id="quantidade">
                <option value="">quantidade</option>
                <option value="1">1x</option>
                <option value="2">2x</option>
                <option value="4">4x</option>
            </select>

        </div>
        <div class="observacao form-formatacao">
            <p>Defeito relatado:</p>
            <textarea name="defeito" id="" cols="30" rows="3" required></textarea>

        </div>

        <div class="form-equipment-feature form-formatacao">

            <p><span>Serviço executado:</span> <input type="text" name="servico" id="servico" class="form-input"
                    required></p>
        </div>

        <div class="form-formatacao form-div-btn">
            <button class="form-btn" type="reset">cancelar</button>
            <button class="form-btn" type="submit" onclick="print()">cadastrar</button>

        </div>
    </form>
        </div>
    </main>
    <footer class="footer">Desenvolvido por Rodrigo Ribeiro</footer>
</div>