
<div class="dashboard">
   {{>_nav}}
   <header class="header">
       
       <h3><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
</svg> Ordem de Serviço</h3>
   </header>
    <main class="main">
        <form action="/registerClient" method="POST" class="form-register-client">
            <div class="img-form">
                <img src="./img/logo_main.png" alt="" class="logo-form">
            </div>
            <!-- informações pessoais -->
            <div class="date-hour formation">
                
                <div class="date">
                    <p>Entrada: </p>
                    <input type="date" name="date" id="date" class="input-date-hour" required>
                </div>
                       
            </div>

            <div class="client-information formation">
                
                <div class="name-tel">
                    <p class="label">Nome*</p>
                    <input type="text" name="name" id="name"  class="input-form" pattern="[A-Za-z]{}" required title="Apenas letras">
                    <div id="errorName"></div>
                    <p class="label">Telefone*</p>
                    <input type="tel" name="tel" id="tel"  class="input-form" pattern="[0-9]{11}"required title="Somente números" inputmode='numeric'>
                </div>

                <div class="client">
                    <p class="label">Endereço</p>
                    <input type="text" name="address" id="addres" pattern="[A-Za-z]{}" class="input-form" title="Apenas letras">
                    <p class="label" >Documento</p>
                    <input type="text" name="document" id="document" class="input-form" pattern="[0-9]{}">
                </div>
            </div>
            <div class="equipment formation">
                <div class="equipment-infomartion">
                <p>Equipamento</p>
                <input type="radio" name="equipment" value="notebook"><span class="label-equipment">Notebook</span>
                <input type="radio" name="equipment" value="desktop"><span class="label-equipment">Desktop</span>
                </div>
            </div>
            
            <div class="equipment formation">
                <p>Marca</p>
                <select name="brand" id="brand" class="select">
                    <option value=""></option>
                    <option value="dell">Dell</option>
                    <option value="samsung">Samsung</option>
                    <option value="positivo">Positivo</option>
                    <option value="acer">Acer</option>
                    <option value="lenovo">Lenovo</option>
                    <option value="asus">Asus</option>
                    <option value="multilaser">Multilaser</option>
                    <option value="sony vaio">Sony Vaio</option>
                    <option value="HP">HP</option>
                    <option value="LG">LG</option>
                    <option value="avell">Avell</option>
                    <option value="megaware">MegaWare</option>
                </select>
            </div>
            <div class="equipment formation">
                <p>Defeito relatado</p>
                <textarea name="defect" cols="40" rows="4" id='textarea'></textarea>
            </div>

             <div class="equipment formation">
                <p>Serviço</p>
                <input type="text" name="service" class="input-form  service">
            </div>
            <div class="btn-form">
                <button type="reset" class="btn" id="btnReset">
                    Cancelar
                </button>
                <button type="submit" class="btn" id="btnConfirm" onclick="">
                   Cadastrar
                </button>
            </div>
        </form>
        {{>_home}}
    </main>
    
    {{>_footer}}
</div>
