@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container-clientes     {
    border-radius: 10px;
    overflow:auto;
}

#link-find{
    margin-top: 10%;
    padding: 15px;
    background:#EEEEEE;
    width:15%
}

.table-container        {
    width: 98%;
    
    height: 90%;
    border-radius: 10px;
}

#table      {
    width: 100%;
    text-align: center;
    overflow-x: scroll;
    margin-top: 2.5%;
    
    


}

.title-table        {
    padding: 5px 5px 20px 5px;
    background: #EEEEEE;
    font-family: 'Work Sans', sans-serif;
    color: #171010;
    font-size: 0.7em;


    
}

.body-table     {
    padding: 10px 5px 10px 5px;
    text-transform: uppercase;
    font-size: 0.7em;
    
    font-family: 'Open Sans', sans-serif;
    
    

}


.table-row:hover   {
    background: #F1F1F1;
}

.table-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-btn   {
    width: 100%;
    height: 100%;
}

.link-os        {
    display: flex;
    justify-content:center;
    align-items: center;
}