.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 10% 1fr 8%;
    grid-template-areas: 'nav header''nav main''nav footer';
    
}

.container-dashboard        {
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-rows: 40% 40% 30%;
    grid-template-columns: 100%;
    grid-template-areas: 'card card card''chart chart chart' 'empty empty empty';
    background:#EEEEEE;
    overflow-y: auto;
    margin-top: 0.5%;
    margin-left: 0.5%;
    

}



.container-card {
    grid-area: card;
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
}

.card  {
    width: 220px;
    height: 150px;
    margin: 2%;
    background:#ffffff;
    border-radius: 10px;
    box-shadow: rgba(5, 5, 5, 0.24) 0px 6px 8px;
    font-family: 'Work Sans', sans-serif;
}

.title      {
    display: flex;
    padding: 8px;
    align-items: center;
    color: #ffffff;
    
}

.img-dashboard      {
    display: flex;
    align-items: center;
    height: 70%;
    
}

.icon       {
    display: flex;
    align-items: center;
    width: 50%;

}

.service-info      {
    font-size: 2rem;
    margin-left:10%;   
}

.all-service{
    background: #064ACB;
}

.open-service{
    background:#F96D15;
}


.close-service     {
    background:#57D131;
}


.chart      {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}


#curve_chart      {
    width: 30vw;
    height: 25vw;
    margin-left: 2%;
    background-color: #DDDDDD ;

}


.all-product        {
    background:#a52a2a;
}


