@media (max-width:820px) {
        .dashboard {
            min-height: 100vh;
            grid-template-columns:1fr;
            grid-template-rows: 10% 82% 8%;
            grid-template-areas: 'header''main''footer';
        }
        .container-dashboard  {
            display: none;
        }

        .dash-mobile    {
            grid-area: main;
            width:99%;
            height:99%;
            margin: 0.5% 0.5%;
            
        }
        .container-mobile-card  {
            width:100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .mobile-card       {
            width:40%;

        }

        .mobile-link    {
            text-decoration: none;
        }

        .img-dashboard  {
            justify-content: center;
        }
        .container-card {
            grid-area:card;
            justify-content: center;
            width: 99%;
           
            display:relative;
        }

        .title      {
            justify-content: center;
        }

        .nav    {
            display:none;
        }

        .header     {
            grid-area:header;
            position:sticky;
            height:100%;
            box-shadow: none;
            color: #FFFFFF;
        }

        .footer {
            grid-area: footer;
            height:100%;
            background:#EEEEEE;
            z-index: 0;
        }


        /*form  mobile*/
        .form-register-client     {
            width: 100%;
            height: 100%;
            margin:0px;
            background: #EEEEEE;
            font-family: 'Roboto Slab', serif;
            font-size: 0.8em;
            color: #171010;
            overflow-y: scroll;
            z-index: 1;
            box-shadow: none;
        }

        .home {
            
            margin-bottom: 5%;
            margin-left: 80%;
            border-radius: 100%;
            color: #1684A7 !important;
            padding: 20px;
            z-index: 1;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            background:#FFFFFF;
            box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);

        }

        

        .main{
            z-index: 1;
        }

        .logout-mobile  {
                display:flex;
                justify-content: center;
                align-items: center;
                width:84%;
                padding: 25px;
                background:#1684A7;
                margin-left: 8%;
                margin-top: 5px;
                border-radius: 10px;
                text-decoration: none;
                color: #FFFFFF;
        }
}