@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/*estilo geral form*/
.form-register-client     {
    width: 70%;
    height: 90%;
    background: #EEEEEE;
    margin-left: 15%;
    margin-top: 2.5%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
    color: #171010;
    overflow-y: scroll;
}
.img-form       {
    margin-top: 10px;
    height: 80px;
    text-align: center;
}

.logo-form      {
    height: 100%;
}
.link-os{
        text-decoration: none;
        color:#171010;
        font-family: 'Roboto Slab', serif;
        font-size: 0.8em;
        cursor: pointer;

}
.input-date-hour        {
    padding: 5px;
    outline: none;
    border:#c4c2bf 1px solid;
    border-radius: 5px;
}

.client-information {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.5%;
}

.date-hour     {
    
    padding-top: 1%;
    display: flex;
    gap: 2.5%;
}

.formation  {
    margin-left: 5%;
    padding-top: 10px;
}



.name-tel      {
    width: 100%;
}

.client     {
    width: 100%;
}

.label{
    padding-top: 0.8%;
}

.input-form       {
    width: 80%;
    padding: 2.5px;
    outline: none;
    border:#c4c2bf 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    
}

.input-form:hover{
    
    border: #c0c0c0 1px solid;
}

.label-equipment    {
    padding-right: 15px;
}

.select {
    color: #c4c2bf;
    outline: none;
    padding: 2px;
    border-radius: 5px;
    border:#c4c2bf 1px solid;
}
.select > option {
    color: #000;
    padding: 2px;
}

#textarea       {
    resize: none;
    border-radius: 5px;
    outline: none;
    border:#c4c2bf 1px solid;
    padding: 2px;
    text-transform: uppercase;
}

.service        {
    width: 40% !important;
}

.btn-form       {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    margin-left: 15%;
    
}
    .btn      {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 9px;
    border: none;
    color: #c4c2bf;
    border-radius: 5px;
    background: #FFFFFF
}

#btnReset:hover      {
    color: #FFF;
    background: #e41a1aea;
    cursor: pointer;
    transition: 200ms;
}

#btnConfirm:hover{
    color: #FFF;
    background: rgba(58, 207, 39, 0.918);
    cursor: pointer;
    transition: 200ms;
}

.form-register-client::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  .form-register-client::-webkit-scrollbar:hover{
      width: 10px;
      transition: 500ms;
  } 

 .form-register-client::-webkit-scrollbar-track {
    background: #ffffff;        /* color of the tracking area */
  }
  
 .form-register-client::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #707070;  /* creates padding around scroll thumb */
  }