@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.header     {
    display: flex;
    height: 100%;
    grid-area: header;
    align-items: center;
    background: #eeedeb;
    box-shadow: 0px 4px 5px 0px rgba(107, 107, 107, 0.432);
    z-index: 1;

}

h3      {
    
    color: #c4c2bf;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    margin-left: 5%;
    font-weight: 200;
    display: flex;
    align-items: center;

    
}