@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container1 {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows:8%  84.5% 7.5%;
    grid-template-areas: 'nav header-title''nav main' 'navbar footer';
    background-image: url('../img/background.png');
    background-position: center;
}

