.container-inventario       {
    font-family: 'Barlow Condensed', sans-serif;
}

.body-inventario        {
    display: flex;
    padding: 10px;
    background:rgba(255, 255, 255, 0.5);
    width: 70%;
}

.componente-inventario      {
    margin-right: 2.5%;
}

.table-produto      {
    text-transform: uppercase;
}