@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.nav        {
    grid-area: nav;
    height: 100%;
    background: #1684A7;
    display: grid;
    grid-template-rows: 18% 76% 8%;
    grid-template-columns: 1fr;
    grid-template-areas: 'img-logo' 'menu-nav' 'footer-nav';
    z-index: 3;
    position: fixed;
    width: 200px;
    font-family: 'Work Sans', sans-serif;

}

nav     {
    height:100%;
}

.link-nav       {
    color:#FFFFFF;
    border-radius: 50%;
}



.img-logo       {
    
    margin-top: 10%;
    grid-area: img-logo;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu  {
    grid-area:menu-nav;
    height: 100%;
}

.item-menu  {
   
    
}
/* estilo dos icones*/

.icon-style     {
    margin-left: 20px;
}

.list-main-menu {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}



.item-menu      {
    display: flex;
    height: 40px;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 100ms;
    position: relative;
    margin-top: 5px;
    z-index: 2;
    
    
}

.item-menu:hover{
    color: #faf9b9;
    transition: 200ms;
    border-left: 5px solid #faf9b9;
}

.label-item-menu    {
    padding-left: 10px;
}

#arrow-service      {
    margin-left: 15%;
}

.sub-list       {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 180px;
    background: #1684A7;
    display: none;
    margin-left: 193px;
    border-top-right-radius: 10px;

}

.sub-item-list      {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    
    
}
.sub-link-item  {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 5px;
    color: #FFFFFF;
    text-decoration: none;
}

.sub-link-item:hover {
    color: #faf9b9;
    
}

.link-item  {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.link-item:hover        {
    color: #faf9b9;
}

.label-sub-menu {
    font-size: 1rem;
}

/*make the sub list appear */

.item-menu:hover .sub-list  {
    display: block;
    
}

.footer-nav     {
    grid-area: footer-nav;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content:center;
}